.fotos{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img{
    width: 32%;
    border-radius: 22px;
    transition: transform 0.5s ease;
}

.gallery img:hover{
    transform: scale(1.1);

}

@media (max-width: 800px){
    .gallery{
        flex-wrap: wrap;
    }    
    .gallery img{
        width: 30%;
        margin-bottom: 25px;
    }
}