@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
}

body{
    background-color: #FEFDF4;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #E2AE99;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: white;
    width: 50px;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: poiner;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}

.btn{
    background: #FDE3D1;
    color: #E2AE99;
    padding: 14px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn img{
    width: 20px;
    margin-left: 10px;
}



/* media querys */

@media (max-width: 1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px;
    }
}